* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.4s ease;
}

.converter {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    padding: 15px;
    font-size: 24px;
    text-align: center;
    border: none;
    outline: none;
    color: #333;
    background-color: #fff;
}

.result-box {
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    min-height: 58px; 
}
